a {
  color: #41772e;
  transition: all 0.3s;
}
a:active,
a:focus,
a:hover {
  color: #4b8737;
}
.tab-v1 .nav-tabs {
  border-bottom: 2px solid #41772e;
}
.tab-v1 .nav-tabs > li > a {
  transition: 0.3s;
}
.tab-v1 .nav-tabs > li > a:active,
.tab-v1 .nav-tabs > li > a:focus,
.tab-v1 .nav-tabs > li > a:hover {
  background: #41772e;
}
.tab-v1 .nav-tabs > .active > a {
  background: #41772e;
  transition: 0.3s;
}
.tab-v1 .nav-tabs > .active > a:active,
.tab-v1 .nav-tabs > .active > a:focus,
.tab-v1 .nav-tabs > .active > a:hover {
  background: #41772e;
}
.panel-primary {
  border-color: #41772e;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #41772e;
  border-color: #41772e;
}
.panel-primary .panel-title > a {
  color: #fff;
  transition: opacity 0.3s;
}
.panel-primary .panel-title > a:active,
.panel-primary .panel-title > a:focus,
.panel-primary .panel-title > a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.panel-primary-second {
  border-color: #4b8737;
}
.panel-primary-second > .panel-heading {
  color: #fff;
  background-color: #4b8737;
  border-color: #4b8737;
}
.panel-primary-second .panel-title > a {
  color: #fff;
  transition: opacity 0.3s;
}
.panel-primary-second .panel-title > a:active,
.panel-primary-second .panel-title > a:focus,
.panel-primary-second .panel-title > a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.portfolio-item .carousel .carousel-inner .item h3 {
  color: #fff;
}
.breadcrumbs-v3 h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  text-shadow: 2px 2px #000;
}
.breadcrumbs-v3 p {
  margin-top: 30px;
}
table.coluna {
  margin-bottom: 0 !important;
}
table.coluna th {
  background-color: #f9f9f9;
}
.modal-body {
  padding: 0 15px;
}
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar li,
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.bg-color-breadcrumbs {
  background-color: #4b8737 !important;
}
.transparencia .content-boxes-v1 {
  background-color: #41772e !important;
  padding: 10px 0 !important;
}
.transparencia .content-boxes-v1:hover {
  background-color: #4b8737 !important;
}
.transparencia .content-boxes-v1 .fa {
  padding: 10px 0;
}
.transparencia .content-boxes-v1 h3 {
  font-size: 18px;
}
.transparencia .content-boxes-v1 h3 a {
  text-decoration: none;
  color: #fff;
}
.transparencia .content-boxes-v1 h3 a:active,
.transparencia .content-boxes-v1 h3 a:focus,
.transparencia .content-boxes-v1 h3 a:hover {
  color: #f0f0f0;
}
.transparencia .content-boxes-v1 h3 a i {
  font-size: 40px;
}
.transparencia .content-boxes-v1 h5 {
  margin-bottom: 17px;
}
.transparencia .content-boxes-v1 h5 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}
.transparencia .content-boxes-v1 h5 a small {
  text-decoration: none;
  color: #fff;
}
.transparencia .content-boxes-v1 h5 a i {
  font-size: 40px;
}
.panel.panel-primary .panel-title a:active,
.panel.panel-primary .panel-title a:focus,
.panel.panel-primary .panel-title a:hover {
  color: #fff;
  text-decoration: none;
}
.header {
  border-top: 3px solid #4b8737;
  background-color: #f6f6f6;
  border-bottom: none;
}
.header .dropdown-menu li > a:active,
.header .dropdown-menu li > a:focus,
.header .dropdown-menu li > a:hover {
  color: #fff;
  background: #4b8737 !important;
}
.header .navbar-nav {
  padding: 0;
}
.header .navbar-brand {
  top: 0;
}
.header .navbar-brand img {
  height: 100px !important;
}
.header .navbar-header {
  height: 120px;
  display: block;
  float: none;
}
.header .header-socials {
  margin-top: 12px;
  text-align: right;
  width: 350px;
  float: right;
  padding-top: 20px;
  font-size: 24px;
}
.header .header-socials .busca_topo {
  background-color: #fff !important;
  border-radius: 10px;
  color: #fff !important;
  height: auto !important;
  padding: 10px 20px 10px 50px !important;
  font-size: 1.9rem !important;
  z-index: 10;
  width: 100%;
}
.header .header-socials .left-inner-addon i {
  font-size: 1.9rem !important;
  padding: 11px 14px;
}
.header .header-socials .left-inner-addon input.form-control {
  padding-left: 40px;
}
.header .header-socials .select2-container {
  width: 100% !important;
  border: 1px solid #999;
}
.header .header-socials .select2-selection {
  font-size: 1.6rem;
  background-color: #fff !important;
  border: none !important;
  z-index: 10;
  padding-left: 40px;
}
.header .header-socials .select2-search__field {
  width: 100% !important;
}
.header .header-socials #busca {
  display: block;
  margin-top: 0 !important;
  padding: 0 !important;
}
.header .header-socials #busca .form-group {
  margin-bottom: 0 !important;
}
.header .header-socials li {
  padding-left: 2px;
  padding-right: 0;
}
.header .header-socials li a {
  color: #4b8737;
}
.header .header-socials li a:active,
.header .header-socials li a:focus,
.header .header-socials li a:hover {
  color: #ebb928;
}
.header .header-socials .input-group {
  z-index: 100;
}
@media (min-width: 992px) {
  .header .navbar-nav {
    float: left;
  }
  .header .navbar-default .navbar-nav > li:hover > a {
    color: #ebb928;
  }
}
.header .navbar-default .navbar-nav > li > a {
  color: #fafafa;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px #4b8737;
}
@media (max-width: 768px) {
  .header .header-socials {
    display: none;
  }
  .header .navbar-menu {
    background-color: #fff;
  }
  .header .navbar-default .navbar-nav > li > a {
    color: #333;
  }
  #logo1 {
    display: none;
  }
  #logo2 {
    display: inline;
  }
}
@media (min-width: 768px) {
  #logo1 {
    display: inline;
  }
  #logo2 {
    display: none;
  }
}
@media (max-width: 992px) {
  .header .header-socials {
    margin-top: 12px;
    text-align: right;
    width: 200px;
    float: right;
    padding-top: 20px;
    font-size: 24px;
  }
}
.navbar-menu {
  border-top: 3px solid #ebb928;
  background-color: #41772e;
  border-bottom: 2px solid #4b8737;
}
.header .navbar-default .navbar-nav > .active > a {
  color: #fff;
}
.footer-v1 .link-list li {
  border-color: #41772e !important;
}
.footer-v1 .footer {
  height: auto !important;
  background: none repeat scroll 0 0 #4b8737;
  border-top: 3px solid #41772e;
}
.footer-v1 .footer ul {
  margin: 0;
  padding: 0 0 0 15px;
}
.footer-v1 .footer ul .link-list li {
  border-bottom-color: #ebb928 !important;
}
.footer-v1 .footer ul li {
  font-size: 1.5rem;
  margin-bottom: 0;
  list-style: disc;
  color: #ebb928;
}
.footer-v1 .footer ul li a:active,
.footer-v1 .footer ul li a:focus,
.footer-v1 .footer ul li a:hover {
  text-decoration: none;
  background: inherit;
  color: #ebb928;
}
.footer-v1 .copyright {
  background: none repeat scroll 0 0 #41772e;
}
.content {
  padding-top: 0;
}
.content-body {
  background-color: #fff;
  margin-top: -305px;
  padding: 20px 20px 10px;
}
.item-text {
  min-height: 20px;
  border-top: 1px solid #eee;
  font-size: 11px;
  color: #585f69;
}
blockquote {
  border-left: 4px solid #ebb928;
  font-size: 15px;
  color: #999;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 10px 20px;
}
.headline h2,
.headline h3,
.headline h4 {
  margin: 0 0 -2px;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #ebb928;
}
.btn-primary {
  background-color: #41772e;
  border-color: #41772e;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #4b8737;
  border-color: #4b8737;
}
#botoes-home .panel-default {
  background-color: #41772e;
  border-color: #4b8737;
}

#botoes-home .panel-default:hover {
  background-color: #4b8737;
  border-color: #4b8737;
}
