#header, #footer{
    background-color: #0d6aad;
    color: #FFF;
    min-height: 80px;
}

#header a{
    color: #FFF;
}

#login h1, #login h2, #login h3{
    margin-top: 0px;
}

.no-padding {
    padding: 0px;
}
.no-margin {
    margin: 0px;
}
.main-home {
    padding-top: 20px;
}

#form-cadastro .title-section {
    color: #0d6aad;
}

#form-cadastro hr {
    margin-top: 8px;
}