#estatisticas_tabela{
    margin-top: 30px;
    margin-bottom: 30px;
}

#estatisticas_tabela h1{
    font-weight: bold;
    margin-bottom: 20px;
}
#estatisticas_tabela h1 span {
    color: #0d6aad;
}

#negada{
    background-color: rgb(219, 68, 55);
}

#respondida{
    background-color: rgb(244, 180, 0);
}

#recebida{
    background-color: rgb(66, 133, 244);
}

.coluna{
    width: 20%;
    margin: 0 7%;
    padding: 50px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #d3d5d3;
    background-color: #fff;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    color: #FFF;
}
.coluna h2{
    font-size: 5rem;
    font-weight: bold;
    color: #FFF;
}
.coluna p{
    color: #FFF;
}
.coluna:last-child{
    margin-right: 0;
}

.coluna:first-child{
    margin-right: 4%;
}
.page-header{
    margin-top: 0px;
}
.page-header h1{
    font-weight: bold;
    margin-bottom: 0px !important;
}