@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

@mixin linear-gradient($from, $to, $inicio: 0%, $fim: 100%) {
    background: $to !important;
    background: -moz-linear-gradient(top, $from $inicio, $to $fim) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop($inicio,$from), color-stop($fim,$to)) !important;
    background: -webkit-linear-gradient(top, $from $inicio,$to $fim) !important;
    background: -o-linear-gradient(top, $from $inicio,$to $fim) !important;
    background: linear-gradient(to bottom, $from $inicio,$to $fim) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})!important;
  }

