$azul: rgb(2, 85, 149);
$azul_dark: rgb(25, 41, 114);

$amarelo: rgb(240, 205, 109);
$amarelo_dark: rgb(228, 180, 75);

$verde: rgb(82,145,76);
$verde_dark: rgb(59,105,62);

$branco: rgb(255,255,255);

$azul_bebe: rgb(169,221,245);
$azul_bebe_dark: rgb(143,199,231);

$azul_busca: #3674a8;

$primaria: $azul;
$primaria_dark: $azul_dark;

$cinza: #dee2e6;