@import "variaveis";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@import "app.css";
@import "blocks.css";

.b-l{
  border-left: 1px solid $cinza;
}
.b-r{
  border-right: 1px solid $cinza;
}
.b-t {
  border-top: 1px solid $cinza;
}
.b-b{
  border-bottom: 1px solid $cinza;
}
.b-l-r{
  border-left: 1px solid $cinza;
  border-right: 1px solid $cinza;
}
.b-t-b{
  border-top: 1px solid $cinza;
  border-bottom: 1px solid $cinza;
}
.b-all{
  border: 1px solid $cinza;
}

.no-margins{
  margin: 0 !important;
}
.no-paddings{
  padding: 0 !important;
}


.b-l-none{
  border-left: none !important;
}
.b-r-none{
  border-right: none !important;
}
.b-t-none{
  border-top: none !important;
}
.b-b-none{
  border-bottom: none !important;
}
.b-l-r-none{
  border-left: none !important;
  border-right: none !important;
}
.b-t-b-none{
  border-top: none !important;
  border-bottom: none !important;
}

.p-h-1{
  padding-top: 5px;
  padding-bottom: 5px;
}
.p-h-2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-h-3{
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-full{
  width: 90%;
}