@import "./colors_smds";

a {
  color: $primaria;
  transition: all .3s;

  &:hover, &:active, &:focus {
    color: $secundaria;
  }
}

.tab-v1 {
  .nav-tabs {
    border-bottom: solid 2px $primaria;

    > li {
      > a {
        transition: 0.3s;

        &:hover, &:active, &:focus {
          background: $primaria;
        }
      }
    }

    > .active {
      > a {
        background: $primaria;
        transition: 0.3s;

        &:hover, &:active, &:focus {
          background: darken($primaria, 7%);
        }
      }
    }
  }
}

.panel-primary {
  border-color: $primaria;

  > .panel-heading {
    color: #FFF;
    background-color: $primaria;
    border-color: $primaria;
  }

  .panel-title {
    > a {
      color: #FFF;
      transition: opacity 0.3s;

      &:hover, &:active, &:focus {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
}

.panel-primary-second {
  border-color: $verde;

  > .panel-heading {
    color: #FFF;
    background-color: $verde;
    border-color: $verde;
  }

  .panel-title {
    > a {
      color: #FFF;
      transition: opacity 0.3s;

      &:hover, &:active, &:focus {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
}


.portfolio-item .carousel .carousel-inner .item h3 {
  color: #FFF;
}

.breadcrumbs-v3 {
  /*background: #fff url("../img/slide_60.png") no-repeat center top !important;*/
  /*opacity: 0.4;*/
  h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    text-shadow: 2px 2px #000;
  }

  p {
    margin-top: 30px;
  }
}

table {
  &.coluna {
    margin-bottom: 0 !important;

    th {
      background-color: #f9f9f9;
    }
  }
}

.modal-body {
  padding: 0 15px;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.bg-color-breadcrumbs {
  background-color: $secundaria !important;
}

.transparencia {
  .content-boxes-v1 {
    background-color: $primaria !important;
    padding: 10px 0 !important;

    &:hover {
      background-color: $secundaria !important;
    }

    .fa {
      padding: 10px 0;
    }

    h3 {
      font-size: 18px;
    }

    h3 {
      a {
        text-decoration: none;
        color: #FFF;

        &:hover, &:active, &:focus {
          color: #f0f0f0;
        }

        i {
          font-size: 40px;
        }
      }
    }

    h5 {
      margin-bottom: 17px;

      a {
        text-decoration: none;
        color: #FFF;
        font-size: 16px;
        margin-bottom: 5px;

        small {
          text-decoration: none;
          color: #FFF;
        }

        i {
          font-size: 40px;
        }
      }
    }
  }
}

.panel {
  &.panel-primary {
    .panel-title {
      a {
        &:hover, &:active, &:focus {
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}


/*Novo custom*/

.header {
  border-top: 3px solid $secundaria;
  background-color: #f6f6f6;
  border-bottom: none;

  .dropdown-menu {
    li {
      > a {
        &:hover, &:active, &:focus {
          color: #fff;
          background: $secundaria !important;
        }
      }
    }
  }

  .navbar-nav {
    padding: 0;
  }

  .navbar-brand {
    top: 0;

    img {
      height: 100px !important;
    }
  }

  .navbar-header {
    height: 120px;
    display: block;
    float: none;
  }

  .header-socials {
    margin-top: 12px;
    text-align: right;
    width: 350px;
    float: right;
    padding-top: 20px;
    font-size: 24px;

    .busca_topo {
      background-color: #FFF !important;
      //border: none !important;
      border-radius: 10px;
      color: #FFF !important;
      height: auto !important;
      padding: 10px 20px 10px 50px !important;
      font-size: 1.9rem !important;
      z-index: 10;
      width: 100%;

      //@include placeholder {
      //  color: #FFF;
      //}
    }

    .left-inner-addon {
      i {
        font-size: 1.9rem !important;
        padding: 11px 14px;
      }

      input.form-control {
        padding-left: 40px;
      }
    }

    .select2-container {
      width: 100% !important;
      border: 1px solid #999
    }

    .select2-selection {
      font-size: 1.6rem;
      background-color: #FFF !important;
      border: none !important;
      z-index: 10;
      padding-left: 40px;
    }

    .select2-search__field {
      width: 100% !important;
    }

    #busca {
      display: block;
      margin-top: 0 !important;
      padding: 0 !important;

      .form-group {
        margin-bottom: 0 !important;
      }
    }

    li {
      padding-left: 2px;
      padding-right: 0;

      a {
        color: $secundaria;

        &:hover, &:active, &:focus {
          color: $amarelo;
        }

      }
    }

    .input-group {
      z-index: 100;
    }
  }

}

@media (min-width: 992px) {
  .header .navbar-nav {
    float: left;
  }
  .header .navbar-default .navbar-nav > li:hover > a {
    color: #fff;
  }
}

/*Navbar Menu*/
.header .navbar-default .navbar-nav > li > a {
  color: #fafafa;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px $secundaria;
}

@media (max-width: 768px) {
  .header .header-socials {
    display: none;

  }
  .header .navbar-menu {
    background-color: #fff;
  }
  .header .navbar-default .navbar-nav > li > a {
    color: #333;
  }
  #logo1 {
    display: none;
  }
  #logo2 {
    display: inline;
  }


}

@media (min-width: 768px) {
  #logo1 {
    display: inline;
  }
  #logo2 {
    display: none;
  }

}

@media (max-width: 992px) {

  .header .header-socials {
    margin-top: 12px;
    text-align: right;
    width: 200px;
    float: right;
    padding-top: 20px;
    font-size: 24px;
  }
}

.navbar-menu {
  border-top: 3px solid $amarelo;
  background-color: $primaria;
  border-bottom: 2px solid $secundaria;
}


.header .navbar-default .navbar-nav > .active > a {
  color: #ffffff;
}

.footer-v1 {
  .link-list {
    li {
      border-color: $secundaria !important;
    }
  }

  .footer {
    height: auto !important;
    background: none repeat scroll 0% 0% $primaria;
    border-top: 3px solid $secundaria;


    ul {
      margin: 0;
      padding: 0;
      padding-left: 15px;

      .link-list {
        li {
          border-bottom-color: $amarelo !important;
        }
      }

      li {
        font-size: 1.5rem;
        margin-bottom: 0;
        list-style: disc;
        color: $amarelo;

        a {
          &:hover, &:active, &:focus {
            text-decoration: none;
            background: inherit;
            color: $amarelo;
          }
        }
      }

    }

  }

  .copyright {
    background: none repeat scroll 0% 0% $secundaria;
  }
}

.content {
  padding-top: 0;
}

.content-body {
  background-color: #ffffff;
  margin-top: -305px;
  padding: 20px 20px 10px 20px;
}

.item-text {
  min-height: 20px;
  border-top: 1px solid #eee;
  font-size: 11px;
  color: #585f69;

}

blockquote {
  border-left: 4px solid $amarelo;
  font-size: 15px;
  color: #999;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 10px 20px;
}

.headline {
  h2, h3, h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid $amarelo;
  }
}

// Bootstrap

.btn-primary {
  background-color: $primaria;
  border-color: $primaria;

  &:hover, &:active, &:focus {
    background-color: $secundaria;
    border-color: $secundaria;
  }
}


// CUSTOMIZAÇÃO

body {
  overflow-x: hidden;
}

.header .header-socials {
  width: 400px !important;
}

.header {
  margin-bottom: 30px;
}

#botoes-home {
  a {
    color: $primaria;
    transition: all .3s;

    &:hover {
      text-decoration: none;
      color: $amarelo;
    }
  }

  .panel-default {
    background-color: $primaria;
    border-color: $secundaria;
    transition: all .3s;

    &:hover {
      background-color: $secundaria;
    }

    a, h1, h1 small {
      color: #FFF;
      transition: all .3s;

      &:hover {
        text-decoration: none;
        color: $amarelo;
      }
    }
  }

  .panel-body {
    font-size: 1.3rem;

    .icon {
      font-size: 1.8rem;
    }

    span {
      position: relative;
      bottom: 4px;
      margin-left: 3px;
    }

    h1 {
      color: #FFF;
      margin: 0;
      font-weight: normal !important;

      small {
        font-size: 2rem;
      }

      .icon {
        font-size: 4rem;
      }
    }
  }
}