/* 
* Version: 1.6
* Yelow Color 		: #fac412;
* Yelow Hover Color  : #ccb335;
* Additional color  : deeffc;
* rgba(52, 152, 219, 1);
*/

a {
    color: #fac412;
}

a:focus,
a:hover,
a:active {
    color: #fac412;
}

.color-green {
    color: #fac412;
}

a.read-more:hover {
    color:#fac412;
}

.linked:hover {
    color:#fac412;
}


/*Headers Default
------------------------------------*/
.header .navbar-default .navbar-nav > .active > a {
    color: #fac412;
}

.header .navbar-default .navbar-nav > .active > a {
    border-color: #fac412;
}

.header .dropdown-menu {
    border-top: solid 2px #fac412;
}

.header .navbar-default .navbar-nav > li:hover > a {
    color: #ccb335;
}

.header .navbar .nav > li > .search:hover {
    border-bottom-color: #ccb335;
    color: #ccb335;
}

.header .navbar-default .navbar-toggle {
    border-color: #ccb335;
}
.header .navbar-toggle,
.header .navbar-default .navbar-toggle:hover,
.header .navbar-default .navbar-toggle:focus {
    background:  #fac412;
}
.header .navbar-toggle:hover {
    background:  #ccb335 !important;
}
.header .navbar-default .navbar-nav > .open > a,
.header .navbar-default .navbar-nav > .open > a:hover,
.header .navbar-default .navbar-nav > .open > a:focus {
    color: #fac412;
}

/*Design for max-width: 991px*/
@media (max-width: 991px) {
    .header .navbar-default .navbar-nav > .active > a,
    .header .navbar-default .navbar-nav > .active > a:hover,
    .header .navbar-default .navbar-nav > .active > a:focus {
        background:  #fac412;
        color: #fff !important;
    }
    .header .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header .navbar .nav > li > .search:hover {
        background:  #fac412;
    }
}

/*Headers v1
------------------------------------*/
.header-v1 .navbar-default .navbar-nav > .active > a,
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus {
    color: #fac412;
}

.header-v1 .dropdown-menu {
    border-color: #fac412
}

.header-v1 .navbar-default .navbar-nav > li:hover > a {
    color: #fac412;
}

.header-v1 .navbar .nav > li > .search:hover {
    color: #fac412;
}

.header-v1 .navbar .nav > li > .search:hover {
    color: #fac412;
}
.header-v1 .navbar-default .navbar-toggle {
    border-color: #ccb335;
}

.header-v1 .navbar-toggle,
.header-v1 .navbar-default .navbar-toggle:hover,
.header-v1 .navbar-default .navbar-toggle:focus {
    background:  #fac412;
}

.header-v1 .navbar-toggle:hover {
    background:  #ccb335 !important;
}

/*Design for max-width: 991px*/
@media (max-width: 991px) {
    .header-v1 .navbar-default .navbar-nav > li:hover > a {
        border-color:  #eee;
    }
    .header-v1 .navbar-default .navbar-nav > .active > a,
    .header-v1 .navbar-default .navbar-nav > .active > a:hover,
    .header-v1 .navbar-default .navbar-nav > .active > a:focus {
        background-color: #fac412;
    }
    .header-v1 .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header-v1 .navbar .nav > li > .search:hover {
        background-color: #fac412;
    }
}

/*Headers v2
------------------------------------*/
.header-v2 .dropdown-menu {
    border-color: #fac412;
}
.header-v2 .navbar-default .navbar-toggle {
    border-color: #ccb335;
}
.header-v2 .navbar-toggle,
.header-v2 .navbar-default .navbar-toggle:hover,
.header-v2 .navbar-default .navbar-toggle:focus {
    background:  #fac412;
}
.header-v2 .navbar-toggle:hover {
    background:  #ccb335 !important;
}

/*Design for max-width: 991px*/
@media (max-width: 991px) {
    .header-v2 .navbar-default .navbar-nav > .active > a,
    .header-v2 .navbar-default .navbar-nav > .active > a:hover,
    .header-v2 .navbar-default .navbar-nav > .active > a:focus {
        background:  #fac412;
        color: #fff !important;
    }
    .header-v2 .navbar-default .navbar-nav > li > a:hover {
        color: #fac412;
    }
}

/*Headers v3
------------------------------------*/
.header-v3 .navbar-default .navbar-nav > .active > a {
    color: #fac412;
}

.header-v3 .navbar-default .navbar-nav > li:hover > a {
    color: #ccb335;
}

.header-v3 .dropdown-menu {
    border-color: #fac412;
}

.header-v3 .navbar-default .navbar-toggle {
    border-color: #ccb335;
}

.header-v3 .navbar-toggle,
.header-v3 .navbar-default .navbar-toggle:hover,
.header-v3 .navbar-default .navbar-toggle:focus {
    background:  #fac412;
}
.header-v3 .navbar-toggle:hover {
    background:  #ccb335 !important;
}
.header-v3 .navbar .nav > li > .search:hover {
    background: inherit;
    color: #fac412;
}

/*Design for max-width: 991px*/
@media (max-width: 991px) {

    .header-v3 .navbar-default .navbar-nav > .active > a,
    .header-v3 .navbar-default .navbar-nav > .active > a:hover,
    .header-v3 .navbar-default .navbar-nav > .active > a:focus {
        background:  #fac412;
        color: #fff !important;
    }
    .header-v3 .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header-v3 .navbar .nav > li > .search:hover {
        background:  #fac412;
    }
}

/*Headers v4
------------------------------------*/
.header-v4 .navbar-default .navbar-nav > li > a:hover,
.header-v4 .navbar-default .navbar-nav > .active > a {
    border-color: #fac412;
}

.header-v4 .navbar-default .navbar-nav > .active > a {
    color: #fac412;
}

.header-v4 .navbar-default .navbar-nav > li:hover > a {
    border-color:  #fac412;
    color: #ccb335;
}

.header-v4 .navbar .nav > li > .search:hover {
    color: #fac412;
}


.header-v4 .navbar-default .navbar-nav > .open > a,
.header-v4 .navbar-default .navbar-nav > .open > a:hover,
.header-v4 .navbar-default .navbar-nav > .open > a:focus {
    color: #fac412;
}

/*Design for max-width: 991px*/
@media (max-width: 991px) {
    .header-v4 .navbar-default .navbar-nav > li:hover > a {
        border-color:  #eee;
    }
    .header-v4 .navbar-default .navbar-nav > .active > a,
    .header-v4 .navbar-default .navbar-nav > .active > a:hover,
    .header-v4 .navbar-default .navbar-nav > .active > a:focus {
        color: #fac412 !important;
    }
    .header-v4 .navbar-default .navbar-nav > .active > a {
        border-color: #eee;
    }
    .header-v4 .navbar .nav > li > .search:hover {
        background:  #fac412;
    }
}

/*Headers v5
------------------------------------*/

.header-v5 .navbar-default .navbar-nav > li > a:hover,
.header-v5 .navbar-default .navbar-nav > .active > a {
    border-top: 2px solid #fac412;
}

.header-v5 .navbar-default .navbar-nav > .active > a {
    color: #fac412;
}

.header-v5 .navbar-default .navbar-nav > li:hover > a {
    color: #fac412;
}
.header-v5 .navbar-default .navbar-nav > .open > a,
.header-v5 .navbar-default .navbar-nav > .open > a:hover,
.header-v5 .navbar-default .navbar-nav > .open > a:focus {
    color: #fac412;
}

.header-v5 .dropdown-menu li > a:hover {
    background:  #fac412;
}

.header-v5 .dropdown-menu .active > a,
.header-v5 .dropdown-menu li > a:hover {
    background:  #fac412;
}

.header-v5 .dropdown-menu {
    border-color: #fac412;
}

.header-v5 .dropdown-menu li.dropdown-submenu:hover > a {
    background:  #fac412;
}

.header-v5 .dropdown-menu .style-list li > a:hover {
    background: none;
}

.header-v5 .style-list li a:hover {
    color: #fac412;
}
/* Shopping cart*/
.header-v5 .shop-badge.badge-icons i {
    color: #fac412;
}

.header-v5 .shop-badge span.badge-sea {
    background:  #fac412;
}

.header-v5 .badge-open {
    border-top: 2px solid #fac412;
    box-shadow: 0 5px 5px 0 rgba(90, 90, 90, 0.075);
}

/*Sliders
------------------------------------*/
/*Main Parallax Sldier*/
.da-slide h2 i {
    background:rgba(52, 152, 219, 0.8);
}

/*Sequence Parallax Sldier*/
.sequence-inner {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#deeffc));
    background: -webkit-linear-gradient(#fff, #deeffc);
    background: -moz-linear-gradient(#fff, #deeffc);
    background: -ms-linear-gradient(#fff, #deeffc);
    background: -o-linear-gradient(#fff, #deeffc);
    background: linear-gradient(#fff, #deeffc)
}

#sequence-theme h2 {
    background:rgba(52, 152, 219, 0.8);
}

#sequence-theme .info p {
    background:rgba(52, 152, 219, 0.8);
}

/*Buttons
------------------------------------*/
.btn-u {
    background: #fac412;
}

.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
    background: #038abb;
}

/*Buttons Color*/
.btn-u-split.dropdown-toggle {
    border-left: solid 1px #ccb335;
}

/*Bordered Buttons*/
.btn-u.btn-brd {
    border-color: #fac412;
}
.btn-u.btn-brd:hover {
    color: #ccb335;
    border-color: #ccb335;
}
.btn-u.btn-brd.btn-brd-hover:hover {
    background: #ccb335;
}

/*Service
------------------------------------*/
.service .service-icon {
    color:#fac412;
}

/*Service Blocks*/
.service-alternative .service:hover {
    background:#fac412;
}

/*Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
    color:#fac412;
}

.thumbnail-style a.btn-more {
    background:#fac412;
}
.thumbnail-style a.btn-more:hover {
    box-shadow:0 0 0 2px #ccb335;
}

/*Carousel (Recent Work)*/
.recent-work a:hover span {
    border-bottom:solid 2px #fac412;
}

.bx-wrapper .bx-prev {
    background:rgba(52, 152, 219, 0.8);
}
.bx-wrapper .bx-next {
    background:rgba(52, 152, 219, 0.8);
}

/*Typography
------------------------------------*/
/*Heading*/
.headline h2,
.headline h3,
.headline h4 {
    border-bottom:2px solid #fac412;
}

/*Blockquote*/
blockquote:hover {
    border-left-color:#fac412;
}

.hero {
    border-left-color: #fac412;
}

/*Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
    color: #fac412;
}

/*Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
    color: #fac412;
}

/*Footer Blog*/
.footer .dl-horizontal a:hover {
    color:#fac412 !important;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a:hover {
    color:#fac412;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
    color: #fac412;
    border-color: #fac412 !important;
}

/*Post Comment*/
.post-comment h3,
.blog-item .media h3,
.blog-item .media h4.media-heading span a {
    color: #fac412;
}

/*Tabs
------------------------------------*/
/*Tabs v1*/
.tab-v1 .nav-tabs {
    border-bottom: solid 2px #fac412;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
    background: #fac412;
}

.tab-v1 .nav-tabs > li > a:hover {
    background: #fac412;
}

/*Tabs v2*/
.tab-v2 .nav-tabs li.active a {
    border-top: solid 2px #fac412;
}

/*Tabs v3*/
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
    background: #fac412;
    border: solid 1px #ccb335;
}

/*Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover {
    color:#fac412;
}
.acc-home .collapse.in {
    border-bottom:solid 1px #fac412;
}

/*Testimonials
------------------------------------*/
.testimonials .testimonial-info {
    color: #fac412;
}

.testimonials .carousel-arrow i:hover {
    background: #fac412;
}

/*Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
    color: #fac412;
}

/*Breadcrumb
------------------------------------*/
.breadcrumb li.active,
.breadcrumb li a:hover {
    color:#fac412;
}

/*About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
    color:#fac412 !important;
}

/*Social Icons*/
.team ul.team-socail li i:hover {
    background: #fac412;
}

/*Right Sidebar
------------------------------------*/
/*Right Sidebar*/
.who li i,
.who li:hover i,
.who li:hover a {
    color:#fac412;
}

/*Privacy Page
------------------------------------*/
.privacy a:hover {
    color:#fac412;
}

/*Portfolio Page
------------------------------------*/
/*Portfolio v1*/
.view a.info:hover {
    background: #fac412;
}

/*Portfolio v2*/
.sorting-block .sorting-nav li.active {
    color: #fac412;
    border-bottom: solid 1px #fac412;
}

.sorting-block .sorting-grid li a:hover span.sorting-cover {
    background: #fac412;
}

/*Blog Page
------------------------------------*/
.blog h3 {
    color:#fac412;
}
.blog li a:hover {
    color:#fac412;
}

/*Blog Tags*/
ul.blog-tags a:hover {
    background: #fac412;
}

.blog-post-tags ul.blog-tags a:hover {
    background:  #fac412;
}

/*Blog Photos*/
.blog-photos li img:hover {
    box-shadow: 0 0 0 2px #fac412;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner:hover {
    border-color: #fac412;
    border-top-color: #fac412;
}
.blog-twitter .blog-twitter-inner:hover:after {
    border-top-color: #fac412;
}

.blog-twitter .blog-twitter-inner a {
    color: #fac412;
}

/*Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
    color:#fac412;
}

/*Coming Soon Page
------------------------------------*/
.coming-soon-border {
    border-top: solid 3px #fac412;
}

/*Search Page
------------------------------------*/
.booking-blocks p a {
    color: #fac412;
}

/*Icons Page
------------------------------------*/
.icon-page li:hover {
    color:#fac412;
}

/*Glyphicons*/
.glyphicons-demo a:hover {
    color: #fac412;
    text-decoration: none;
}

/*Magazine Page
------------------------------------*/
/*Magazine News*/
.magazine-news .by-author strong {
    color: #fac412;
}

.magazine-news a.read-more {
    color: #fac412;
}

/*Magazine Mini News*/
.magazine-mini-news .post-author strong {
    color: #fac412;
}

.news-read-more i {
    background: #fac412;
}

/*Sidebar Features*/
.magazine-page h3 a:hover {
    color: #fac412;
}

/*Page Features
------------------------------------*/
/*Tag Boxes v1*/
.tag-box-v1 {
    border-top: solid 2px #fac412;
}

/*Tag Boxes v2*/
.tag-box-v2 {
    border-left: solid 2px #fac412;
}

/*Tag Boxes v7*/
.tag-box-v7 {
    border-bottom: solid 2px #fac412;
}

/*Font Awesome Icon Page Style*/
.fa-icons li:hover {
    color: #fac412;
}

.fa-icons li:hover i {
    background: #fac412;
}

/*GLYPHICONS Icons Page Style*/
.bs-glyphicons li:hover {
    color: #fac412;
}

/*Navigation
------------------------------------*/
/*Pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #fac412;
    border-color: #fac412;
}

.pagination li a:hover {
    background: #ccb335;
    border-color: #ccb335;
}

/*Pager*/
.pager li > a:hover,
.pager li > a:focus {
    background: #ccb335;
    border-color: #ccb335;
}

/*Registration and Login Page v2
------------------------------------*/
.reg-block {
    border-top: solid 2px #fac412;
}

/*Image Hover
------------------------------------*/
/*Image-hover*/
#effect-2 figure .img-hover {
    background: #fac412;
}

/*Blog Large Page
------------------------------------*/
.blog h2 a:hover {
    color: #fac412;
}

/*Timeline v1 Page
------------------------------------*/
.timeline-v1 > li > .timeline-badge i:hover {
    color: #fac412;
}

.timeline-v1 .timeline-footer .likes:hover i {
    color: #fac412;
}

/*Timeline v2 Page
------------------------------------*/
/* The icons */
.timeline-v2 > li .cbp_tmicon {
    background: #fac412;
}

/*Progress Bar
------------------------------------*/
.progress-bar-u {
    background: #fac412;
}

/*Job Inner Page
------------------------------------*/
.job-description .save-job a:hover,
.block-description .save-job a:hover {
    color: #fac412;
}

.job-description .p-chart .overflow-h li i,
.job-description .p-chart .overflow-h li a,
.block-description .p-chart .overflow-h li i,
.block-description .p-chart .overflow-h li a {
    color: #fac412;
}

/*Colorful-ul*/
.job-description .colorful-ul li a {
    color: #fac412;
}

/*Search Inner Page
------------------------------------*/
.s-results .related-search a:hover {
    color: #fac412;
}

.s-results .inner-results h3 a:hover {
    color: #fac412;
}

.s-results .up-ul li a:hover {
    color: #fac412;
}

.s-results .down-ul li a {
    color: #fac412;
}

/*Funny Boxes
------------------------------------*/
.funny-boxes p a {
    color: #fac412;
}

.funny-boxes .funny-boxes-img li i {
    color: #fac412;
}

/*Sidebar Sub Navigation
------------------------------------*/
.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
    color: #fac412;
}

/*Blockquote
------------------------------------*/
blockquote.bq-green {
    border-color: #fac412;
}

blockquote:hover,
blockquote.text-right:hover {
    border-color: #fac412;
}

/*Green Left Bordered Funny Box**/
.funny-boxes-left-green {
    border-left: solid 2px #fac412;
}

.funny-boxes-left-green:hover {
    border-left-color: #fac412;
}

/*Testimonials Default
------------------------------------*/
/*Testimonials*/
.testimonials .carousel-arrow i:hover {
    background: #fac412;
}

/*Testimonials Default*/
.testimonials-bg-default .item p {
    background: #fac412;
}

.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
    border-top-color: #fac412;
}

.testimonials-bg-default .carousel-arrow i {
    background: #fac412;
}

.testimonials.testimonials-bg-default .carousel-arrow i:hover {
    background: #ccb335;
}

/*Promo Page
------------------------------------*/
/*Promo Box*/
.promo-box:hover strong,
.promo-box:hover strong a {
    color: #fac412;
}

/*Typography
------------------------------------*/
.dropcap {
    color: #fac412;
}

.dropcap-bg {
    color: #fff;
    background: #fac412;
}

/*Breadcrumbs
------------------------------------*/
span.label-u,
span.badge-u {
    background: #fac412;
}

/*Icons
------------------------------------*/
/*Icon Link*/
.link-icon:hover i {
    color: #fac412;
    border: solid 1px #fac412;
}

.link-bg-icon:hover i {
    color: #fac412;
    background: #fac412 !important;
    border-color: #fac412;
}

/*Icons Backgroun Color
------------------------------------*/
i.icon-color-u {
    color: #fac412;
    border: solid 1px #fac412;
}

i.icon-bg-u {
    background: #fac412;
}

/*Line Icon Page
------------------------------------*/
.line-icon-page .item:hover {
    color: #fac412;
}

/*Colored Content Boxes
------------------------------------*/
.service-block-u {
    background: #fac412;
}

/*Panels (Portlets)
------------------------------------*/
.panel-u {
    border-color: #fac412;
}

.panel-u > .panel-heading {
    background: #fac412;
}

/*Owl Carousel
------------------------------------*/
.owl-btn:hover {
    background: #fac412;
}

/*Counter
------------------------------------*/
.counters span.counter-icon i {
    background: #fac412;
}

.counters span.counter-icon i:after {
    border-top: 7px solid #fac412;
}

/*SKy-Forms
------------------------------------*/
/*Buttons*/
.sky-form .button {
    background: #fac412;
}

/*Rating*/
.sky-form .rating input:checked ~ label {
    color: #fac412;
}
/*Message*/
.sky-form .message {
    color: #fac412;
}

.sky-form .message i {
    border-color: #fac412;
}

/*Profile
------------------------------------*/
.profile .profile-post:hover span.profile-post-numb {
    color: #fac412;
}

.profile .date-formats {
    background: #fac412;
}

.profile .name-location span i,
.profile .name-location span a:hover {
    color: #fac412;
}

.share-list li i {
    color: #fac412;
}

.profile .comment-list-v2 li:hover i,
.profile .comment-list li:hover i {
    color: #fac412;
}

.profile .profile-post.color-one {
    border-color: #fac412;
}

/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.pricing:hover h4 {
    color:#fac412;
}

.pricing-head h3 {
    background:#fac412;
    text-shadow: 0 1px 0 #ccb335;
}

.pricing-head h4 {
    color:#999;
    background:#fcfcfc;
    border-bottom:solid 1px #deeffc;
}

/*Pricing Content*/
.pricing-content li {
    border-bottom:solid 1px #deeffc;
}
.pricing-content li i {
    color:#fac412;
}


/*Pricing Extra*/
.sticker-left {
    background: #fac412;
}

/*Pricing Footer*/
.pricing-footer a:hover,
.pricing-footer button:hover {
    background:#ccb335;
}

/*Pricing Active*/
.price-active h4 {
    color:#fac412;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
    color:#fac412;
}

/*Mega Pricing Tables
------------------------------------*/
.pricing-mega-v1 .pricing-head h3,
.pricing-mega-v2 .pricing-head h3,
.pricing-mega-v3 .pricing-head h3 {
    text-shadow: 0 1px 0 #ccb335;
}

/*Pricing Table Mega v1 Version
------------------------------------*/
.pricing-mega-v1 .pricing:hover h4 i {
    color:#fac412;
}
.pricing-mega-v1 .pricing-content li i {
    color: #fac412;
}

/*Pricing Table Colored Background Version
------------------------------------*/
.pricing-bg-colored .pricing:hover {
    background: #fac412;
}

.pricing-bg-colored .pricing-head i {
    color:#fac412;
}
.pricing-bg-colored .pricing-footer .btn-u {
    border: 1px solid #fff;
}
.pricing-bg-colored .pricing-head p {
    border-bottom: 1px solid #deeffc;
}

/*Pricing Table Mega v2
------------------------------------*/
.pricing-mega-v2 .block:hover .bg-color {
    background: #fac412;
}
.pricing-mega-v2 .block:hover h3,
.pricing-mega-v2 .block:hover h4,
.pricing-mega-v2 .block:hover li,
.pricing-mega-v2 .block:hover li i,
.pricing-mega-v2 .block:hover h4 i {
    background: #fac412;
}

/*Pricing Table Mega v3
------------------------------------*/
.pricing-mega-v1 .btn-group .dropdown-menu,
.pricing-mega-v3 .btn-group .dropdown-menu {
    background: #fac412 !important;
}

.pricing-mega-v1 .btn-group .dropdown-menu li a:hover,
.pricing-mega-v3 .btn-group .dropdown-menu li a:hover {
    background: #ccb335;
}


/*Grid Block v2
------------------------------------*/
.grid-block-v2 li:hover .grid-block-v2-info {
    border-color: #fac412;
}

/*Testimonials v3 Title
------------------------------------*/
.testimonials-v3 .testimonials-v3-title p {
    color: #fac412;
}

.testimonials-v3 .owl-buttons .owl-prev:hover,
.testimonials-v3 .owl-buttons .owl-next:hover {
    background:  #fac412;
}
/*Content Boxes v4
------------------------------------*/
.content-boxes-v4 i {
    color: #fac412;
}

/*Thumbnails v1
------------------------------------*/
.thumbnails-v1 .read-more {
    color: #fac412;
}

/*Team v1
------------------------------------*/
.team-v1 li:hover > p:before {
    background:  #fac412;
}

/*Headliner Center
------------------------------------*/
.headline-center h2:after {
    background:  #fac412;
}

/*Headliner Left
------------------------------------*/
.headline-left .headline-brd:after {
    background:  #fac412;
}

/*Portfolio Box
------------------------------------*/
.portfolio-box .portfolio-box-in i {
    background:  #fac412;
}

/*Flat Background Block v1
------------------------------------*/
.flat-bg-block-v1 .checked-list i {
    color: #fac412;
}

/* Owl Carousel v5
------------------------------------*/
.owl-carousel-v5 .owl-controls .owl-page.active span,
.owl-carousel-v5 .owl-controls.clickable .owl-page:hover span {
    background:  #fac412;
}

/* Content Boxes v5
------------------------------------*/
.content-boxes-v5:hover i {
    background:  #fac412;
}

/* Block Grid v1
------------------------------------*/
.block-grid-v1:hover {
    border-color: #fac412;
}

/* Content Boxes v6
------------------------------------*/
.content-boxes-v6:hover i:after {
    border-color: #fac412;
}

.content-boxes-v6:hover i {
    background:  #fac412;
}

/* Portfolio Box-v2
------------------------------------*/
.portfolio-box-v2 .portfolio-box-v2-in i {
    background:  rgba(52, 152, 219, 0.8);
}

.portfolio-box-v2 .portfolio-box-v2-in i:hover {
    background:  #fac412;
}

/* Service Block v1
------------------------------------*/
.service-block-v1 i {
    background:  #fac412;
}

/* Testimonials bs
------------------------------------*/
.testimonials-bs .carousel-control-v2 i:hover {
    border-color: #fac412;
    color: #fac412;
}

/* Fusion Portfolio
------------------------------------*/
.fusion-portfolio #filters-container .cbp-filter-item-active {
    background:  #fac412;
    border-color: #fac412;
}

.fusion-portfolio #filters-container .cbp-filter-item:hover {
    color: #fac412;
}

/* Fusion Portfolio
------------------------------------*/
.blog_masonry_3col h3 a:hover {
    color: #fac412;
}

/* Recent Works
------------------------------------*/
.owl-work-v1 .item a:hover span {
    border-bottom-color: #fac412 ;
}

/* Footer Default
------------------------------------*/
.footer-default .footer .dl-horizontal a:hover {
    color: #fac412 !important;
}

.footer-default .footer a {
    color: #fac412;
}

.footer-default .footer a:hover {
    color: #ccb335;
}

.footer-default .copyright a {
    color: #fac412;
}

.footer-default .copyright a:hover {
    color: #ccb335;
}

/* Footer v4
------------------------------------*/
.footer-v4 .copyright a {
    color: #fac412;
}
/* Title v1
------------------------------------*/
.title-v1 h1:after, .title-v1 h2:after {
    background-color: #fac412;
}
/* Copyright Section
------------------------------------*/
.copyright-section i.back-to-top:hover {
    color: #fac412;
}

/* Top Control
------------------------------------*/
#topcontrol:hover {
    background-color: #fac412;
}